# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# IDE
.vs/
.vscode/
*.suo
*.user
*.userprefs

# Logs
*.log

# OS
.DS_Store
Thumbs.db
desktop.ini

Build/

Config/DefaultGame.ini

Config/DefaultGame.ini

*.FBX
*.fbx
